.playPage{
   color: #333;
}

.queNo{
    margin: 1px 15px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.queNo div:nth-child(2){
    width: 250px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.queNo button{
    background-color: red;
    color: white;
    border: none;
}
.playBtns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:25px;
}

.playBtns button{
    background-color:  #c8b1b1;;
    padding: 10px 25px;
    border-radius: 5px;
    border: 0.3px solid grey;
}